wp-content/uploads/
wp-content/cache/
wp-content/backups/
wp-content/upgrade/
wp-content/plugins/*
wp-content/themes/*

!wp-content/themes/vw-health-coaching-child

wp-admin/
wp-includes/
wp-*.php

*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.save

.DS_Store
Thumbs.db
